asgiref==3.5.2
Django==3.2.15
djangorestframework==3.14.0
pytz==2022.4
sqlparse==0.4.3
tzdata==2022.4
pytest==6.2.4
pytest-django==4.4.0
pytest-http==0.1
pytest-runner==5.3.1

# heroku part
whitenoise==6.2.0
django-heroku==0.3.1
gunicorn==20.1.0
django-cors-headers==3.11.0

# jose | jwt
python-jose[cryptography]==3.1.0
PyJWT==2.5.0
